<p><%= label_tag 'user[landing_page]', l(:label_landing_page) %>
<%= text_field_tag 'user[landing_page]', user.landing_page, :size => 40, :style => 'width: 90%', :placeholder => 'http://localhost/projects/demo/wiki/Wiki' %></p>
